<div class="container" id="home-background">
    <div class="answer-box ad-box">
        <h1>{{message}}</h1>
        <h2>{{ad}}.</h2>
        <p>The correct answer is: {{correct}}</p>
    </div>
</div>